html
	head
		style
			include normalize.css
		style
			include skeleton.css
	body
		div(class='container')
			div(class='spacer')
				div(class='centered')
					div(class='content')
					h2(class='prompt') Payment Successful. You can now view their pictures.
			div(class='spacer')
